*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
body{
    background: #202223;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    background: #2d2f33;
    padding: 40px 50px 70px;
    border-radius: 5%;
    -webkit-box-shadow: 50px 50px 35px 15px rgba(0,0,0,0.36);
    -moz-box-shadow: 50px 50px 35px 15px rgba(0,0,0,0.36);
    box-shadow: 50px 50px 35px 15px rgba(0,0,0,0.36);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row{
    display: flex;
    flex-flow: row nowrap;
}
.view-area{
    text-align: right;
    font-size: xx-large;
    padding: 10px 0 25px;
    width: 400px;
    background: #222425;
    color: white;
    font-weight: bold;
    min-height: 80px;
}
.data{
    width: 385px;
}
.sign-area{
    font-size: medium;
    padding-right: 15px;
}
button{
    width: 100px;
    height: 50px;
    font-size: x-large;
    border: 1.7px solid lightgray;
    font-weight: 300;
    color: white;
}
button.type-a{
    background: orangered;
}
button.type-a:hover{
    background: yellow;
    color: #070707;
}
button.type-b{
    background: #141615;
}
button.type-c{
    background: #070707;
}
button:hover{
    font-weight: bold;
    background: #534E54;
}
