:root{
    --body-background: radial-gradient(circle, rgba(0,255,0,1) 0%, rgba(0,255,255,1) 100%);
    --card-background: white;
    --type-a: radial-gradient(circle, rgba(255,0,0,1) 0%, rgba(234,255,0,1) 100%);
    --type-a-hover: radial-gradient(circle, rgba(234,255,0,1) 0%, rgba(255,0,0,1) 100%);
    --type-b: purple;
    --type-b-hover: linear-gradient(0deg, rgba(253,187,45,1) 0%, rgba(34,193,195,1) 100%);
    --type-c: black;
    --type-c-hover: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    --view-area: linear-gradient(90deg, rgba(252,70,107,1) 0%, rgba(63,94,251,1) 51%);
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
body{
    background: var(--body-background);
}
.card{
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 400px;
    background: var(--card-background);
    padding: 5px;
    -webkit-box-shadow: 50px 50px 35px 15px rgba(0,0,0,0.36);
    -moz-box-shadow: 50px 50px 35px 15px rgba(0,0,0,0.36);
    box-shadow: 50px 50px 35px 15px rgba(0,0,0,0.36);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row{
    display: flex;
    flex-flow: row nowrap;
}
.view-area{
    text-align: right;
    font-size: xx-large;
    padding: 10px 0 25px;
    width: 400px;
    background: var(--view-area);
    color: white;
    font-weight: bold;
    min-height: 80px;
}
.data{
    width: 385px;
}
.sign-area{
    font-size: medium;
    padding-right: 15px;
}
button{
    width: 100px;
    height: 50px;
    font-size: x-large;
    border: 1.71px solid var(--card-background);
    font-weight: 300;
    color: white;
}
button.type-a{
    background: var(--type-a);
}
button.type-a:hover{
    background: var(--type-a-hover);
    color: black;
}
button.type-b{
    background: var(--type-b);
}
button.type-b:hover{
    background: var(--type-b-hover);
}
button.type-c{
    background: var(--type-c);
}
button.type-c:hover{
    background: var(--type-c-hover);
}
button:hover{
    font-weight: bold;
}
